CompileFlags:
  Add:
    # 使用 LLVM libc++
    - -I/opt/homebrew/opt/llvm/include/c++/v1
    - -I/opt/homebrew/opt/llvm/lib/clang/21/include

    # 禁止使用系统 SDK 头文件（这是关键！！！）
    - -nostdinc++
    
    # Boost include
    - -I/opt/homebrew/include
    - -I/opt/homebrew/include/boost
    - -I/opt/homebrew/include/boost/beast

    # 你的头文件路径
    - -I/Users/zhangxihsia/Desktop/CPlusPlusFILES/CPPPROJECT/GATESERVER/header
    - -I/Users/zhangxihsia/Desktop/CPlusPlusFILES/CPPPROJECT/GATESERVER/src

    # C++ 标准
    - -std=c++17
